spring:
  datasource:
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 20000
      idle-timeout: 300000
      max-lifetime: 900000

  jpa:
    properties:
      hibernate:
        format_sql: false
        default_batch_fetch_size: 10
        generate_statistics: false

  data:
    redis:
      lettuce:
        pool:
          max-active: 4
          max-idle: 2
          min-idle: 0

logging:
  level:
    root: WARN
    br.com.labs: INFO
    org.springframework.web: WARN
    org.springframework.cache: WARN
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

management:
  tracing:
    sampling:
      probability: 0.1
